# dependencies
/node_modules

# testing
/coverage

# production
/build

# environment
.env.local
.env.test.local
.env.production.local
.env.development.local

# logging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# jetbrains
.idea/
