/* ----- General Properties ----- */

.background {
    background-image: url("components/images/background.png");
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-color: #ffffff;
}

.game {
    height: 80vh;
    width: calc(100vw - 40vh);
    padding: 10vh 20vh;
}

.card {
    height: 70vh;
    width: 70vh;
    padding: 5vh;
}

.blur-effect {
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.4);
    transition: 0.4s;
    
    background-color: rgba(255, 255, 255, 0.9);
    
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
}

.blur-effect:hover {
    box-shadow: 0 0px 32px 0 rgba(0,0,0,0.4);
}

/* ----- Animation Rules ----- */

/* (Example) animation: bouncing 2.0s ease-in-out 1.0s infinite, fade-in-slide 1.0s linear; */

@keyframes bouncing {
    0% { bottom: 24px; }
    50% { bottom: 44px; }
    100% { bottom: 24px; }
}

/* (Example) animation: rotating 20s linear infinite; */

@keyframes rotating {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* ----- Media Queries ----- */

/* To be implemented in the future */

@media (max-width: 1200px) {

}

@media (max-width: 990px) {

}

@media (max-width: 780px) {
    
}

@media (max-width: 570px) {
    
}

@media only screen and (max-height: 512px) {
    
}

@media (prefers-reduced-motion: no-preference) {
    
}