/* ----- Pages Related Properties ------ */

.loading-animation {
    height: 60%;
    width: 80%;
}

.error-title {
    font-size: 2.5vmin;
    font-weight: normal;
    color: #B22222;
    padding: 15px 10px;
}

.error-message {
    font-size: 1.5vmin;
    font-weight: normal;
    color: #5c6970;
    padding: 15px 10px;
}